<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MES.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <MES.Properties.Settings>
      <setting name="Oper1_Total_productionValue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Oper1_NameValue" serializeAs="String">
        <value>Poly.</value>
      </setting>
      <setting name="Oper1_Mode_1Value" serializeAs="String">
        <value>EL</value>
      </setting>
      <setting name="Oper1_Mode_2Value" serializeAs="String">
        <value>AB</value>
      </setting>
      <setting name="Oper1_Mode_1_Total_productionValue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Oper1_Mode_2_Total_productionValue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Oper2_OnOffValue" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Oper1_OnOff_Mode2Value" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Oper2_OnOff_Mode1Value" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Oper2_Total_productionValue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Oper2_NameValue" serializeAs="String">
        <value>Poly.</value>
      </setting>
      <setting name="Oper2_Mode_1Value" serializeAs="String">
        <value>FM</value>
      </setting>
      <setting name="Oper2_Mode_2Value" serializeAs="String">
        <value>ETC</value>
      </setting>
      <setting name="Oper2_Mode_1_Total_productionValue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Oper2_Mode_2_Total_productionValue" serializeAs="String">
        <value>0</value>
      </setting>
    </MES.Properties.Settings>
  </userSettings>
</configuration>